

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Padding bottom by footer height */
  padding-top: 52px !important;
  padding-bottom: 28px !important;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

body > * {
  padding: 0 6px;
}

body > #header {
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 0;
}

body > #main-content {
  height:100%;
  overflow-y: hidden;
}

body > #footer {
  background-color: #272b30;
  border-top: solid 1px #222;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  /* Set the fixed height here */
  height: 28px;
  text-align:center;
}

#footer > p{
  font-size: 16px;
  margin: 2px 0 0 0;
}

/* Bootstrap Fixes
----------------------------------------------------*/

.row + .row {
  margin-top: 30px;
}

code {
  color: #666;
  background-color: #ccc;
}

.navbar-nav > li {
  cursor: pointer;
}

/* General Helpers
----------------------------------------------------*/
.hidden{
  display: none;
  height: 0;
  width: 0;
  border: none;
}
.center-text {
  text-align: center;
}
.display-block{
  display: block;
}

.display-inline-block{
  display: inline-block;
}

.transparent-checkerboard {
  background: url('../images/transparent-checkerboard.png') repeat;
}

.wide-screen {
  width: 100%;
  position:  relative;
}

.wide-screen:after {
  padding-top: 56.25%; /*16:9 ratio*/
  display: block;
  content: '';
}

[contenteditable] {
  padding: 10px;
  outline: 2px dashed #999;
  cursor: pointer;
}
[contenteditable]:hover {
  outline: 2px dashed #ccc;
}

/* Layout
----------------------------------------------------*/
#liveStatus {
  font-size: 24px;
  margin-top: 6px;
  cursor: default;
}
#liveStatus .label{display: none;}

#liveStatus.preping .label{display: none;}
#liveStatus.preping .preping{display: inline;}

#liveStatus.ready .label{display: none;}
#liveStatus.ready .ready{display: inline;}

#liveStatus.error .label{display: none;}
#liveStatus.error .error{display: inline;}

#liveStatus.live .label{display: none;}
#liveStatus.live .live{display: inline;}

/* Grid Pages
-----------------------------------------------------*/
.grid-page .item-container{
  display: block;
}

.grid-page .item-container h3 {
  margin-top: 26px;
  margin-bottom: 0px;
}

.grid-page .null-layout .item-container h3 {
  margin-top: 22px;
  margin-bottom: 0px;
}

.grid-page .item-container:hover .item-preview {
  background-color: #333;
}

.grid-page .item-screen{
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0; /*fill parent*/
}

.grid-page .item-screen.new{
  border: 3px dashed #808080;
  text-align: center;
}



/* Quick Start
----------------------------------------------------*/
#quickStart .row+.row{
  margin-top: 30px;
}

#quickStart .btn{
  height:200px;
  padding-top: 50px;
}

#quickStart .glyphicon {
  font-size: 60px;
}
#quickStart p{
  font-size: 20px;
  margin-top: 20px
}


/* Scenes
-----------------------------------------------------*/

.scenes-page .well {
  margin-bottom:  0;
}



/* Settings
-----------------------------------------------------*/
.form-row{
  min-height: 300px;
}

.tab-content .form-group:first-child{
  margin-top: 20px;
}

/* Element Editor
-----------------------------------------------------*/
#ElementEditorScreen {
  height: 100%;
  width: 100%;
}

#ElementEditorScreen > #InfoRegion {
  width: 19.5%;
  height: 100%;
  border-right: 2px black solid;
  float: left;
}

#ElementEditorScreen > #ContentRegion {
  width: 80%;
  height: 100%;
  float: left;
}

#ElementEditorScreen > #ContentRegion #EditorPreview {
  width: 100%;
  height: 60%;
  border-bottom: 2px solid darkgray;
}

#ElementEditorScreen > #ContentRegion #EditorPreview > .preview-window{
  background: url('../images/transparent-checkerboard.png');
}

#ElementEditorScreen > #ContentRegion #EditorPreview .resizable {
  width: 100px;
  height: 100px;
  border: 2px solid #808080;
  position: relative;
}

.resizable > iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#ElementEditorScreen > #ContentRegion #EditorCode {
  width: 100%;
  height: 40%;
}

#ElementEditorScreen > #ContentRegion #EditorCode .element-editor-code-input {
  min-height: 320px;
}
#ElementEditorScreen > #ContentRegion #EditorCode .tab-container {
  height: 100%;
}



