doctype html
html
	head
		title Overcaster
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel='stylesheet', href='/css/style.css')
	body
		block content
		
		#scripts
			script(type='text/javacscript', src='/js/jquery.js')
			script(type='text/javacscript', src='/js/bootstrap.js')
			block scripts