extends overlay-layout


block content
	div#screen
		div.block(style='width:600px;height:120px;top:800px;left:200px;background-color:red;')
			h1
				| Jim Buck - LIVE for WBAL 27&nbsp;
				button(onclick="javascript:alert('Yay!');") CLICK


block scripts
	script(type='text/javascript', src='/js/overlay.js')