

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 21px;
}
body > * {
	padding: 0 6px;
}

#footer {
  border-top: solid 1px #222;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 21px;
  text-align:center;
}

/* Bootstrap Fixes
----------------------------------------------------*/
body > #main-content {
  padding-top: 60px;
  padding-bottom: 20px;
}
.row + .row {
	margin-top: 30px;
}

/* General Helpers
----------------------------------------------------*/
.hidden{
	display: none;
	height: 0;
	width: 0;
	border: none;
}
.center-text {
	text-align: center;
}
.transparent-checkerboard{
	background-image: url('/img/transparent-checkerboard.png');
	background-repeat: repeat;
}


/* Quick Start
----------------------------------------------------*/
#quickStart .row+.row{
	margin-top: 30px;
}

#quickStart .btn{
	height:200px;
}

#quickStart .glyphicon {
	font-size: 60px;
}
#quickStart p{
	font-size: 20px;
	margin-top: 20px
}


/* Scenes
-----------------------------------------------------*/

.scenes-page .well {
	margin-bottom:  0;
}

.scenes-page .scene-container{
	display: block;
}

.scenes-page .scene-preview {
	width: 100%;
	position:  relative;
}

.scenes-page .scene-preview:after {
    padding-top: 56.25%; /*16:9 ratio*/
    display: block;
    content: '';
}

.scenes-page .scene-screen{
	position: absolute;
	top: 0; bottom: 0; right: 0; left: 0; /*fill parent*/
}

.scenes-page .scene-screen.new-scene{
	border: 3px dashed #808080;
	text-align: center;
}



/* Settings
-----------------------------------------------------*/
.form-row{
	min-height: 300px;
}

.tab-content .form-group:first-child{
	margin-top: 20px;
}