<div class="row">
  <div class="col-md-12">
    <h1 class="center-text">Quick Start</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div id="quickStart" class="well">
      <div class="row">
        <div class="col-md-4">
          <button ng-href="/sessions" class="btn btn-info btn-block"><span class="glyphicon glyphicon-plus"></span>
            <p>New...</p>
          </button>
        </div>
        <div class="col-md-4">
          <a ng-href="/scenes" class="btn btn-success btn-block"><span class="glyphicon glyphicon-pencil"></span>
            <p>Edit...</p>
          </a>
        </div>
        <div class="col-md-4">
          <a ng-href="/elements" class="btn btn-warning btn-block"><span class="glyphicon glyphicon-folder-open"></span>
            <p>Import...</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="row">
      <div class="col-md-4">
        <h3>Recent Sessions:</h3>
        <ul>
          <li>None</li>
          <!-- li a(href="javascript:void(0);") [THING] 1 -->
          <!-- li a(href="javascript:void(0);") [THING] 2 -->
          <!--li a(href="javascript:void(0);") [THING] 3 -->
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Recent Scenes:</h3>
        <ul>
          <li><a href="javascript:void(0);">[THING] A</a>
          </li>
          <li><a href="javascript:void(0);">[THING] B</a>
          </li>
          <li><a href="javascript:void(0);">[THING] C</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Recent Elements:</h3>
        <ul>
          <li><a href="javascript:void(0);">[THING] I</a>
          </li>
          <li><a href="javascript:void(0);">[THING] II</a>
          </li>
          <li><a href="javascript:void(0);">[THING] III</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
