<div class="scenes-page grid-page">
  <div class="row">
    <div class="col-md-12 center-text">
      <h1 class="center-text">Scenes</h1>
    </div>
  </div>
  <oc:tile-layout items="scenes" columns="5" end-with-null="true" ng-cloak>
      <div class="item-layout" ng-if="item">
        <div class="well">
          <a ng-href="/scene-editor/{{ item._id }}" class="item-container">
            <div class="item-preview wide-screen">
              <div class="item-screen transparent-checkerboard"></div>
            </div>
            <h3 class="center-text" ng-bind="item.name" />
          </a>
        </div>
      </div>
      <div class="null-layout" ng-if="!item">
        <div class="well">
          <a href="/scene-editor" class="item-container">
            <div class="item-preview wide-screen">
              <div class="item-screen new"></div>
            </div>
            <h3 class="center-text"><span class="glyphicon glyphicon-plus"></span></h3>
          </a>
        </div>
      </div>
  </oc:tile-layout>
</div>
