<div class="scene-editor">
  <form class="hidden">
    <input type="hidden" name="_id" ng-model="_id"/>
    <input type="hidden" name="sessionId" ng-model="sessionId"/>
  </form>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-12">
              <h1 ng-model="name" contentEditable="true" class="center-text">
                Click to Name
              </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h3>Sidebar</h3>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="transparent-checkerboard wide-screen"></div>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Bottombar</h3>
        </div>
      </div>
    </div>
  </div>
</div>
