<div class="sessions-page grid-page">
  <div class="row">
    <div class="col-md-12 center-text">
      <h1 class="center-text">Sessions</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="btn" ng-click="decColumns()">-</button>
      <label ng-bind="sessionColumns" />
      <button class="btn" ng-click="incColumns()">+</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <oc:tile-layout items="sessions" columns="sessionColumns" ng-cloak>
        <div class="well">
          <a ng-href="/sessions/{{ _id }}" class="item-container">
            <div class="item-preview wide-screen">
              <div class="item-screen transparent-checkerboard"></div>
            </div>
            <h3 class="center-text" ng-bind="name" />
          </a>
        </div>
      </oc:tile-layout>
    </div>
  </div>

</div>
