<div class="sessions-page grid-page">
  <div class="row">
    <div class="col-md-12 center-text">
      <h1 class="center-text">Sessions</h1>
    </div>
  </div>
  <oc:tile-layout items="sessions" columns="4" ng-cloak>
    <div class="well">
      <a ng-href="/scene-editor/{{ item._id }}" class="item-container">
        <div class="item-preview wide-screen">
          <div class="item-screen transparent-checkerboard"></div>
        </div>
        <h3 class="center-text" ng-bind="item.name" />
      </a>
    </div>
  </oc:tile-layout>
</div>
