<div class="row">
  <div class="col-md-12">
    <h1 class="center-text">Quick Start</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div id="quickStart" class="well">
      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-danger btn-block"><span class="glyphicon glyphicon-th"></span>
            <p>Resume Session</p>
          </button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-info btn-block"><span class="glyphicon glyphicon-floppy-open"></span>
            <p>Import Media</p>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-warning btn-block"><span class="glyphicon glyphicon-list-alt"></span>
            <p>New Element</p>
          </button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-success btn-block"><span class="glyphicon glyphicon-credit-card"></span>
            <p>New Layout</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="row">
      <div class="col-md-4">
        <h3>Recent Sessions:</h3>
        <ul>
          <li>None</li>
          <!-- li a(href="javascript:void(0);") [THING] 1 -->
          <!-- li a(href="javascript:void(0);") [THING] 2 -->
          <!--li a(href="javascript:void(0);") [THING] 3 -->
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Common Layouts:</h3>
        <ul>
          <li><a href="javascript:void(0);">[THING] A</a>
          </li>
          <li><a href="javascript:void(0);">[THING] B</a>
          </li>
          <li><a href="javascript:void(0);">[THING] C</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Common Elements:</h3>
        <ul>
          <li><a href="javascript:void(0);">[THING] I</a>
          </li>
          <li><a href="javascript:void(0);">[THING] II</a>
          </li>
          <li><a href="javascript:void(0);">[THING] III</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
