doctype html
html
	head
		title Overcaster
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
		link(rel='stylesheet', href='/css/jquery-ui.min.css')
		link(rel='stylesheet', href='/css/director.css')
	body
		.navbar.navbar-default.navbar-fixed-top(role='navigation')
			.container-fluid
				.collapse.navbar-collapse
					ul#main-nav.nav.navbar-nav
						li.dropdown
							a.dropdown-toggle(href='javascript:void(0);', data-toggle='dropdown')
								| File&nbsp;
								b.caret
							ul.dropdown-menu
								li
									a(href='javascript:void(0);') Open Session
								li
									a(href='javascript:void(0);') Save Session
								li
									a(href='javascript:void(0);') Save Session As...
								li.divider
								li
									a(href='/start') Show Quickstart Page
								li
									a(href='javascript:void(0);') End Current Session
								li
									a(href='javascript:void(0);' onclick="javascript: global.Overcaster.Window.toggleFullscreen();") Toggle Fullscreen
								li.divider
								li
									a(href='javascript:void(0);' onclick="javascript: window.location.pathname='/start';") Reboot
								li
									a(href='javascript:void(0);' onclick="javascript: global.Overcaster.Window.close();") Shutdown
						li.main-page-link
							a(href='/scenes') Scenes
						li.main-page-link
							a(href='/layouts') Layouts
						li.main-page-link
							a(href='/elements') Elements
						li.main-page-link
							a(href='/settings') Settings
						li.dropdown
							a.dropdown-toggle(href='javascript:void(0);', data-toggle='dropdown')
								| Help&nbsp;
								b.caret
							ul.dropdown-menu
								li
									a(href='javascript:void(0);') About Overcaster
								li.divider
								li.dropdown-header Links
								li
									a(href='javascript:void(0);', onclick='javascript: global.NodeWebkit.Shell.openExternal("https://github.com/JimmyBoh/Overcaster/wiki");') Overcaster Wiki
								li
									a(href='javascript:void(0);', onclick='javascript: alert("Coming soon!"); return false;global.NodeWebkit.Shell.openExternal("https://github.com/JimmyBoh/Overcaster");') Overcaster Resource Page
								li.divider
								li.dropdown-header System
								li
									a(href='javascript:void(0);') Check for Updates
								li
									a(href='javascript:void(0);', onclick='javascript: global.NodeWebkit.Shell.openExternal("https://github.com/JimmyBoh/Overcaster/issues/new");') Report a Bug
								li.divider
								li.dropdown-header Actions
								li
									a(href='javascript:void(0);' onclick="javascript: global.Overcaster.Window.showDevTools();") Show DevTools
								li
									a(href='javascript:void(0);') View Logs
					span.pull-right
						#liveStatus.preping
							span.preping.label.label-info
								i.glyphicon.glyphicon-signal
								| &nbsp;PREPING
							span.ready.label.label-success
								i.glyphicon.glyphicon-signal
								| &nbsp;READY
							span.error.label.label-warning
								i.glyphicon.glyphicon-warning-sign
								| &nbsp;ERROR
							span.live.label.label-danger
								i.glyphicon.glyphicon-globe
								| &nbsp;LIVE
		#main-content.container-fluid
			block content

		.page-contents.hidden
			#start-page-template
				include start
			#scenes-page-template
				include scenes
			#layouts-page-template
				include layouts
			#elements-page-template
				include elements
			#settings-page-template
				include settings

		#scripts
			script(type='text/javascript', src='/js/jquery.js')
			script(type='text/javascript', src='/js/bootstrap.js')
			script(type='text/javascript', src='/js/handlebars-v1.3.0.js')
			script(type='text/javascript', src='/js/underscore.js')
			script(type='text/javascript', src='/js/backbone.js')

			script(type='text/javascript', src='/js/site/director/init.js')
			script(type='text/javascript', src='/js/site/director/extensions.js')
			script(type='text/javascript', src='/js/site/director/data.js')
			script(type='text/javascript', src='/js/site/director/models.js')
			script(type='text/javascript', src='/js/site/director/views.js')
			script(type='text/javascript', src='/js/site/director/router.js')
			script(type='text/javascript', src='/js/site/director/run.js')
		
		#footer
			p#appStatus.pull-right Current Bitrate: 4200kbps
			p#tooltipHint.pull-left Loading Elements...
			p
				| JimmyBoh &copy;&nbsp;
				span.current-year 2014