.row
	.col-md-12
		h1.center-text  Settings
.row.form-row
	.col-md-10.col-md-offset-1
		// Nav tabs 
		ul.nav.nav-tabs
			li.active
				a(href='#general', data-toggle='tab') General
			li
				a(href='#broadcast', data-toggle='tab') Broadcast
			li
				a(href='#editor', data-toggle='tab') Editor
			li
				a(href='#setup', data-toggle='tab') Setup
		// Tab panes 
		form#settingsForm.tab-content.form-horizontal
			#general.tab-pane.active.fade.in
				.form-group
					label.col-md-2.control-label(for='dataLocationInput') Data Directory:
					.col-md-4
						input#dataLocationInput.form-control(type='file', name='dataLocation', nwdirectory, value='{{dataLocation}}')
				.form-group
					label.col-md-2.control-label(for='mediaLocationInput') Media Directory:
					.col-md-4
						input#mediaLocationInput.form-control(type='file', name='mediaLocation', nwdirectory, value='{{mediaLocation}}')
				.form-group
					label.col-md-2.control-label(for='contentLocationInput') Content Directory:
					.col-md-4
						input#contentLocationInput.form-control(type='file', name='contentLocation', nwdirectory, value='{{contentLocation}}')
			#broadcast.tab-pane.fade
				.form-group
					label.col-md-2.control-label(for='serverPortInput') Server Port:
					.col-md-1
						input#serverPortInput.form-control(type='number', name='serverPort', value='{{port}}')
			#editor.tab-pane.fade
				.form-group
					label.col-md-2.control-label(for='themeLocationInput') Theme Directory:
					.col-md-4
						input#themeLocationInput.form-control(type='file', name='themeLocation', nwdirectory, value='{{themeLocation}}')
				.form-group
					label.col-md-2.control-label(for='editorThemeInput') Editor Theme:
					.col-md-4
						input#editorThemeInput.form-control(type='file', name='editorTheme', value='{{editorTheme}}')
			#setup.tab-pane.fade
				h3 ... Setup!
.row
	.col-md-2.col-md-offset-1
		.row
			.col-md-4
				button.btn.btn-block.btn-info(disabled) Save
			.col-md-4
				button.btn.btn-block.btn-default(disabled) Cancel
			.col-md-4
				button.btn.btn-block.btn-primary Defaults