
.scenes-page.grid-page
	.row
		.col-md-12.center-text
			h1.center-text  Elements
	{{#grid this }}
	{{#if this}}
	.well
		a.item-container(href='/element-editor/{{ _id }}')
			.item-preview
				.item-screen.transparent-checkerboard
			h3.center-text {{ name }}
	{{else}}
	.well
		a.item-container(href='/element-editor')
			.item-preview
				.item-screen.new
			h3.center-text
				span.glyphicon.glyphicon-plus
	{{/if}}
	{{/grid}}
					
