
.scene-editor
	.row
		.col-md-12.center-text
			h1.center-text  {{ name }}
	.row
		.col-md-12
			.row
				.col-md-3
					h3 Sidebar
				.col-md-9
					h3 Stage
					.transparent-checkerboard
			.row
				.col-md-12
					h3 Bottombar
			