
.scenes-page
	.row
		.col-md-12.center-text
			h1.center-text  Scenes
	{{#scene-grid this }}
	{{#if this}}
	.well
		a.scene-container(href='/scene-editor/{{ _id }}')
			.scene-preview
				.scene-screen.transparent-checkerboard
			h3.center-text {{ name }}
	{{else}}
	.well
		a.scene-container(href='/scene-editor')
			.scene-preview
				.scene-screen.new-scene
			h3.center-text
				span.glyphicon.glyphicon-plus
	
	{{/if}}
	{{/scene-grid}}