
.scene-editor
	form.hidden
		input(type='hidden', name='_id', value='{{ _id }}')
		input(type='hidden', name='sessionId', value='{{ sessionId }}')
	.row
		.col-md-12
			.row
				.col-md-3
					.row
						.col-md-12
							{{editable name element="h1" class="center-text" placeholder="Click to Name" }}
					.row
						.col-md-12
							h3 Sidebar
				.col-md-8
					.transparent-checkerboard.wide-screen
				.col-md-1
			.row
				.col-md-12
					h3 Bottombar
			