<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <base href="/" />
    <title>Overcaster</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/bootstrap-theme.css">
    <!-- endbuild -->
  </head>
  <body ng-app="overcasterApp" ng-controller="IndexCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div role="navigation" class="navbar navbar-default navbar-fixed-top" ng-controller="NavigationCtrl">
      <div class="container-fluid">
        <div class="collapse navbar-collapse">
          <ul id="main-nav" class="nav navbar-nav">
            <li class="dropdown"><a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">File&nbsp;<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a ng-click="newSession()">New Session</a></li>
                <li><a ng-click="openSession()">Open Session</a></li>
                <li><a ng-click="saveSession()">Save Session</a></li>
                <li><a ng-click="saveSessionAs()">Save Session As...</a></li>
                <li class="divider"></li>
                <li><a ng-click="navigateToPage('/start')">Show Quickstart Page</a></li>
                <li><a ng-click="endCurrentSession()">End Current Session</a></li>
                <li><a ng-click="toggleFullscreen()">Toggle Fullscreen</a></li>
                <li class="divider"></li>
                <li><a ng-click="navigateToPage('/')">Reboot</a></li>
                <li><a ng-click="shutdown()">Shutdown</a></li>
              </ul>
            </li>
            <li class="main-page-link"><a ng-click="navigateToPage('/sessions')">Sessions</a></li>
            <li class="main-page-link"><a ng-click="navigateToPage('/scenes')">Scenes</a></li>
            <li class="main-page-link"><a ng-click="navigateToPage('/elements')">Elements</a></li>
            <li class="main-page-link"><a ng-click="navigateToPage('/resources')">Resources</a></li>
            <li class="main-page-link"><a ng-click="navigateToPage('/settings')">Settings</a></li>
            <li class="dropdown"><a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">Help&nbsp;<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Links</li>
                <li><a ng-click="openExternalLink('https://github.com/JimmyBoh/Overcaster/wiki')">Overcaster Wiki</a></li>
                <li><a ng-click="openExternalLink('https://github.com/JimmyBoh/Overcaster')">Overcaster Resource Page</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">System</li>
                <li><a ng-click="checkForUpdates()">Check for Updates</a></li>
                <li><a ng-click="openExternalLink('https://github.com/JimmyBoh/Overcaster/issues/new?labels=bug')">Report a Bug</a></li>
                <li><a ng-click="openExternalLink('https://github.com/JimmyBoh/Overcaster/issues/new?labels=request')">Request a Feature</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Actions</li>
                <li><a ng-click="showDevTools()">Show DevTools</a></li>
                <li><a ng-click="showLogs()">View Logs</a></li>
                <li class="divider"></li>
                <li><a ng-click="showAbout()">About Overcaster</a></li>
              </ul>
            </li>
          </ul><span class="pull-right">
            <div id="liveStatus" class="preping"><span class="preping label label-info"><i class="glyphicon glyphicon-signal"></i>&nbsp;PREPPING</span><span class="ready label label-success"><i class="glyphicon glyphicon-signal"></i>&nbsp;READY</span><span class="error label label-warning"><i class="glyphicon glyphicon-warning-sign"></i>&nbsp;ERROR</span><span class="live label label-danger"><i class="glyphicon glyphicon-globe"></i>&nbsp;LIVE</span></div></span>
          </div>
        </div>
      </div>
      <div id="main-content" class="container-fluid" ng-view="">
      </div>

      <div id="footer">
        <p id="appStatus" class="pull-right" ng-bind="messages.status"></p>
        <p id="tooltipHint" class="pull-left" ng-bind="messages.tooltip"></p>
        <p>JimmyBoh &copy;&nbsp;<span class="current-year">2014</span></p>
      </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/extensions/polyfills.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/modules.js"></script>
    <script src="scripts/templates.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/start.js"></script>
    <script src="scripts/controllers/scenes.js"></script>
    <script src="scripts/controllers/sessions.js"></script>
    <script src="scripts/controllers/settings.js"></script>
    <script src="scripts/controllers/resources.js"></script>
    <script src="scripts/directives/octilelayout.js"></script>
    <script src="scripts/directives/ocsnapregion.js"></script>
    <script src="scripts/directives/ocsnapcontainer.js"></script>
    <script src="scripts/directives/ocsnapitem.js"></script>
    <script src="scripts/services/ocutils.js"></script>
    <script src="scripts/services/elementsservice.js"></script>
    <script src="scripts/controllers/elements.js"></script>
    <script src="scripts/controllers/debug.js"></script>
    <script src="scripts/controllers/navigation.js"></script>
    <script src="scripts/services/messaging.js"></script>
    <script src="scripts/controllers/index.js"></script>
    <!-- endbuild -->


    <script src="http://localhost:35729/livereload.js?snipver=1" type="text/javascript"></script>
</body>
</html>
